.funnel-custom-legend {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 0px !important;
    padding: 1rem;
    // width: 65%;
    gap: 10px;


.legend-item {
    flex: 1 1 40%; 
    display: flex;
    align-items: center;
    border: 0.7px solid $stroke-clr;
    margin: 0.25rem;
    padding: 8px 16px;
    height: 40%;
    gap: 0px;
    border-radius: 12px;

    .color-indicator {
        width: 20px;
        height: 20px;
        border-radius: 100%;
    }

    .label {
        margin-left: 0.5rem;
        color: $text-title1
    }
}
}