@import '../../styles/global';

.funnel-wrapper {
    // display: flex;
    overflow: hidden;
    position: relative;
    padding: 1rem;
    width: 100%;

    .funnel-component-title {
        color: $text-title1;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 98%;
        text-transform: capitalize;
        margin: 10px 0;
    }

    // svg {
    //     margin: 0 auto;
    //     z-index: 99;
    //     position: absolute;
    //     width: 100%;
    //     height: 100%;
    //     top: 0;
    //     bottom: 0;

    // }

    .funnel-component-contents {
        // position: absolute;
        z-index: 100;
        width: 100%;
        // padding: 16px 0;
        display: flex;
        align-items: flex-end;
        height: 100%;

        .funnel-component-content {
            display: flex;
            margin: 0 auto;
            position: relative;
            width: 33%;
            padding: 24px 16px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            // gap: 16px;
            flex: 1 0 0;
            align-self: center;
            border: 1px solid $stroke-clr;
            background: $inner-card-bg;
            z-index: 10;


            height: 80%;
            border-radius: 0px 32px 32px 0px;

            transition: border 0.5s ease-in-out, background 0.3s ease-in-out;

            &:not(:first-child) {
                border-left: none;
                background: linear-gradient(to right, $box-hover 0%, $inner-card-bg 10%, $inner-card-bg 100%);
            }

            &:nth-child(2) {
                height: 68%;
                z-index: 9;
                align-self: center;
                margin-left: -10px;
            }

            &:nth-child(3) {
                height: 50%;
                z-index: 8;
                align-self: center;
                margin-left: -10px;
            }

            &.active {
                background: linear-gradient(to right, $box-hover 0%, $color-card-hover 10%, $color-card-hover 100%);

                .funnel-content-percentage{
                    background: $color-card-hover;
                }

            }
            &:first-child {
                background: $color-card-hover !important;
                .funnel-content-percentage{
                    background: $color-card-hover;
                }
            }

            // &:hover {
            //     background: linear-gradient(to right, $box-hover 0%, $color-card-hover 10%, $color-card-hover 100%);
            //     cursor: default !important;;

            //     .funnel-content-percentage{
            //         background: $color-card-hover;
            //     }
            // }
            // &:hover:first-child {
            //     background: $color-card-hover !important; ;
            // }

            .funnel-title {
                color: $white;
                font-size: 18px;
                font-style: normal;
                font-weight: 500;
                line-height: 98%;
            }

            .funnel-value {
                margin-top: 20px;
                color: $white;
                font-size: 16px;
                font-style: normal;
                font-weight: 300;
                line-height: 98%;
                /* 39.2px */
            }

            .funnel-content-percentage {
                color: $percentage-text;
                font-style: normal;
                font-weight: 300;
                line-height: normal;
                position: absolute;
                top: -40px;
                // width: 72px;
                font-size: 14px;
                border: 1px solid $stroke-clr;
                border-radius: 8px 8px 0 0;
                padding: 10px;
                gap: 10px;
                text-align: center;

                display: flex;
                align-items: center;
                justify-content: space-between;

                svg{
                    width: 8px;
                }

                .arrow-icon{
                    width: 16px;
                }
            }

            .funnel-content-trend {
                color: $text-gray;
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
            }
        }
    }
}

