/* NotAuthorized.css */
.not-authorized {
    text-align: center;
    padding: 50px;
  }
  
  .not-authorized h1 {
    font-size: 48px;
    color: #ff4c4c;
  }
  
  .not-authorized p {
    font-size: 24px;
    color: #555;
  }