# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/
pip-wheel-metadata/
share/python-wheels/
*.egg
MANIFEST

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Test / Coverage reports
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.pytest_cache/
.hypothesis/

# Temporary files
*.log
*.tmp
*.swp
*.bak

# Virtual environments
.venv/
env/
venv/
ENV/
env.bak/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# System or IDE-specific files
.DS_Store
Thumbs.db
*.iml
.idea/
.vscode/

# Model-related folders
models/temp/
models/backup/

# Videos and temporary media files
video_folder/
temp_videos/
