einops==0.8.0
fastapi==0.115.6
huggingface-hub==0.27.1
mysql-connector-python==9.1.0
opencv-python==4.10.0.84
package-obfuscator==1.0.0
pandas==2.2.3
plotly==5.24.1
pymongo==4.10.1
python-dotenv==1.0.1
python-multipart==0.0.20
psutil==6.1.0
requests==2.32.3
timm==1.0.12
transformers==4.48.0
umap==0.1.1
umap-learn==0.5.7
uvicorn==0.34.0
litserve==0.1.0