@import '../../styles/global';

.watchlist-ranking-container {
    width: 100%;
    height: 52%;
    gap: 20px;

    .watchlist-ranking {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 133.65px;
        padding: 4px 16px;
        gap: 8px;
        border-radius: 16px;
        margin-top: 18px;
        cursor: pointer;
        background: $inner-card-bg;
        transition: all 0.5s ease-in-out;
        &:hover{
            background: rgba(45, 62, 83, 0.32);

        }
        &:first-child{
            margin-top: 0;
        }
        .image_name {
            display: grid;
            text-align: center;
            width: 125px;
            img {
                width: 82.91px;
                height: 82.91px;
                border-radius: 43.47px;
                margin: auto;
            }
            h4{
                font-size: 11.66px;
                margin-top: 11px;
            }
        }
        .ranking{
            font-size: 30px;
            font-weight: 600;
            width: 40px;
        }
        .following,.followers,.posts,.threat-level{
            h4,h5{
                font-size: 20px;
                font-weight: 600;
                color: $text-title1;
                text-align: center;
                margin-top: 13px;
            }
            h4{
                font-size: 17px;
            }
            h5{
                color: $white;

            }
        }
        .threat-level{
            h5{
                color: $text-red;
            }
        }
    }
}