// Basic colors
$white: #ffffff;
$black: #000;

// Main colors
$input-bg-clr: #0D1117;
$main-bg-clr: #000;
// $card-clr: #14181D;
// $card-clr: #181827;
$card-clr: #14181D;
$stroke-clr: #353535;
$card-bg: #14181D;
$card-bg-2:#0F1114;
$card-bg-3:#212020;
$card-bg-4:#212020;
$card-bg-5: #2A2A2A;
$card-bg-6: #AAA;
$card-bg-7: #333333;

$message-bg: #198754;
$hover-workspace: #0BC094;
$inner-card-bg: $input-bg-clr;
$de-active-clr: #F12D2D;
$de-active-card2: #ff3b3b;
$de-active-card3: #F12D2D33;

$table-clr: #22F1BF;

// Text colors
$title-color: #fff;
$content-text-color:#FFF;
$active-button-bg: #002BC3;
$button-blue-bg: #002BC366;
$active-button-text: #00FFFF;
$calendar-bg-color: #00FFFF4D;
$btn-dark-bg: #cccccc;

// $nav-card-clr: #14181D;
$nav-card-clr: $card-clr;
$text-light: #FFFFFF52;
$text-gray: #7B7B7B;
$percentage-text: #A3B9CC;
// $background-hover: #22F1BF;
$background-hover: $white;
$text-default: $input-bg-clr; 
$text-secondary: #FFFFFF99;
$text-red: #F12D2D;
$text-title1:#A9A9A9;
$text-ttile2: #ffffff80;
$box-hover: #ffffff00;


$color-scale-1: #f12d2d66;
$color-scale-1-bg: #f12d2d33;
$color-scale-2: #ff8c0066;
$color-scale-3: #ffe70066;
$color-scale-4: #2f4f4fbf;

$color-scale-med: #ff8c00;
$color-scale-med-bg: #ff8c0033;

$color-scale-med-1: #ffa500;
$color-scale-med-1-bg: #ffa50033;

$color-scale-low: #ffe700;
$color-scale-low-bg: #ffe70033;


$color-card-hover: #2D3E5352;
$color-card: #2D3E53;

$button-secondary: #0B5F4B;
$option-background: #FFFFFF29;

$border-color: #ffffff66;

