.loader{
    height: 100%;
    width: 100%;
    text-align: center;
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: center;

    svg path,
    svg rect{
      fill: rgb(10, 255, 255);
    }

    img{
      width: 10rem;
      height: auto;
    }
  }
  