.scanned-result-modal {
    .modal-content-wrapper {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }
  
    .carousel-section {
      flex: 2;
      margin-right: 20px;
      position: relative;
      overflow: hidden;
  
      .custom-carousel {
        position: relative;
  
        .carousel-item-wrapper {
          display: flex;
          justify-content: center;
          transition: transform 0.5s ease, opacity 0.5s ease;
  
          &:not(.active) {
            opacity: 0.5;
            transform: scale(0.8);
          }
  
          &.active {
            transform: scale(1);
            z-index: 1;
          }
        }
  
        .carousel-image {
          width: 100%;
          max-width: 350px;
          height: auto;
          transition: transform 0.5s ease, opacity 0.5s ease;
        }
      }
    }
  
    .content-section {
      flex: 3;
  
      h5 {
        font-size: 1.2rem;
        margin-bottom: 10px;
      }
  
      .justification-text {
        margin-top: 10px;
        font-size: 0.9rem;
        line-height: 1.4;
      }
  
      .parameters {
        margin-top: 20px;
  
        ul {
          padding: 0;
          list-style-type: none;
  
          li {
            margin-bottom: 5px;
            font-size: 0.9rem;
  
            strong {
              color: red;
            }
          }
        }
      }
    }
  }
  